/*
 * Planning Style
 * td = each case
 * class .project = Inscrit
 * class .noinscription = ...
 * class .nope = Aucun projet
 */ 

#planning {
	width: 90%;
	height: 180px;
	text-align: center;
}

#planning table {
	border-collapse: collapse;
	height: 180px;
	width: 100%;
}

#planning table tr {
	width: 100%;
}

#planning table td {
	font-size: 2em;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.82);
	transition-property: box-shadow, font-size, color, border-left;
	transition-duration: 0.2s;
}

#planning table td:hover {
	font-size: 2.6em;
	box-shadow: 10px 10px 5px black;
	color: white;
}

#planning .project {
	background-color: rgba(23, 142, 112, 0.83);
}

#planning .noinscription {
	background-color: rgba(255, 0, 0, 0.74);
}

#planning .nope {
	background-color: #D6C695;
}

#planning .today {
	color: rgba(0, 0, 0, 0.74) !important
}

/* Correction panel */

#corrections {
	float: left;
}

#news {
	margin-left: 30%;
	max-height: 45%;
	width: 58%;
}

#news .newglob .member {
	font-weight: bold;
}

#news .newglob .action {
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 3px solid white;
}
/* Session Flash (Notification) Style */

.message {
	position: fixed;
	background: rgba(255, 0, 0, 0.52);
	color: rgba(253, 241, 224, 0.87);
	font-size: 1.7em;
	margin-top: -0.6%;
	margin-left: -0.6%;
	margin-right: -0.6%;
	padding-left: 1%;
	padding-top: 0.5%;
	width: 100%;
}
