/*
 * CSS for subject show page
 */
.subject {
	background: rgba(255, 255, 255, 0.32);
}

.subject .title {
	font-size: 3em;
	text-align: center;
	border-bottom: 2px solid black;
	font-weight: bold;
}

.subject .title .icon-question {
	color: rgb(111, 111, 231);
}

.subject .title .icon-bubbles2 {
	color: rgb(53, 156, 53);
}

.subject .origin_post {
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	background: rgba(209, 129, 54, 0.16);
}

.post table {
	width: 100%;
}

.post .infos {
	text-align: right;
	border-top: 2px solid white;
	padding-top: 1%;
}

.post .origin {
	float: left;
}

.post .origin .date {
	text-align: left;
}

.post .infos img {
	width: 5%;
}

.response .vote {
	width: 2%;
	font-size: 3em;
	text-align: center;
	vertical-align: top;
}


.response .title , .answer .title{
	font-size: 1.5em;
	background: #374140;
	color: white;
	width: 100%;
}

.response .post {
	padding-top: 2%;
	background-color: rgba(209, 129, 54, 0.08);
	border-bottom: 2px solid black;
}

.response_result {
	height: 330px !important;
}
